{% extends 'base.html' %}

{% block head %}
<title>Shopping List</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Rename List</h1>

    <div class="form">
        <form action="/rename/{{ list.id }}" method="POST">
            {{ form.csrf_token }}
            <fieldset>
                {{ form.name.label }}
                {{ form.name }}
            </fieldset>
            
            {{ form.submit }}
        </form>
    </div>
    
</div>
{% endblock %}