{% extends 'base.html' %}

{% block head %}
<title>Shopping List</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Shopping List</h1>
    {% if lists|length < 1 %}
    <h4 style="text-align: center">There are no lists.  Add one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>List</th>
            <th>Actions</th>
        </tr>
        {% for list in lists %}
        <tr>
            <td><a href="/{{list.id}}">{{ list.list_name }}</a></td>
            <td>
                <a href="/rename/{{list.id}}">Rename</a>
                <a href="/delete/{{list.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <label for:"item_name">Name:</label>
            <input type="text" name="list_name" id="list_name"><br><br>
            <input type="submit" value="Add List">
        </form>
    </div>


</div>
{% endblock %}